@use "../../../../styles/core" as *;

.permissions-group+.permissions-group {
  margin-top: $spacing-md;
}

.group-title {
  font-size: 10px;
  font-weight: $font-weight-medium;
  color: $text-secondary;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 6px 0 $spacing-sm;
}